<!-- Componenta Home este una statica, rolul acesteia fiind unul de prezentare -->
<div class="container">
  <div class="column">
    <h3>
      Aceasta aplicatie reprezita testul pentru postul de programator frontend
      creat de Sandu Rares Constantin pentru Compania Filed
    </h3>
    <p>
      In aceasta aplicatie am folosit urmatoarele tehnologi: Angular CLI,
      Angular 10, CSS, TypeScript
    </p>
    <p>
      Pentru a rula aplicatia pe <strong>localhost</strong> avem nevoie de
      urmatoarele:
    </p>
    <p>
      --- Instalata ultima versiune de NodeJs (https://nodejs.org/en/), eu am
      folosit versiunea 12.14.1
    </p>
    <p>--- Instalat global generatorul Angular CLI ( npm i -g @angular/cli )</p>
    <p>
      --- Instalate toate dependentele din package.json ( npm i ), aceasta
      comanda se ruleaza in terminal dupa ce am navigat in folderul
      'Radcom-Test' care contine fisierele aplicatiei
    </p>
    <p>
      --- Rulam comanda "ng serve --open" in terminal, dupa ce am navigat in
      folderul 'Radcom-Test' care contine fisierele aplicatiei
    </p>
  </div>
</div>
