<h3>
  Aceasta aplicatie reprezita testul pentru postul de programator frontend creat
  de Stoica Mihai Valentin pentru Compania Radcom
</h3>
<p>
  In aceasta aplicatie am folosit urmatoarele tehnologi: Angular CLI, Angular 2,
  SASS, TypeScript
</p>
<p>
  Pentru a rula aplicatia pe <strong>localhost</strong> avem nevoie de
  urmatoarele:
</p>
<p>
  --- Instalata ultima versiune de NodeJs (https://nodejs.org/en/), eu am
  folosit versiunea 12.14.1
</p>
<p>--- Instalat global generatorul Angular CLI ( npm i -g @angular/cli )</p>
<p>
  --- Instalate toate dependentele din package.json ( npm i ), aceasta comanda
  se ruleaza in terminal dupa ce am navigat in folderul 'Radcom-Test' care
  contine fisierele aplicatiei
</p>
<p>
  --- Rulam comanda "ng serve --open" in terminal, dupa ce am navigat in
  folderul 'Radcom-Test' care contine fisierele aplicatiei
</p>
